extends ../layout/common.pug

block content
  h1 Create user
  
  if errors
    each error in errors
      .alert.alert-danger= error
  
  form.form-group(action="/users/create", method="POST")
    label(for="name") Name
    input#name.form-control(type="text", name="name")
    label(for="phone") Phone
    input#phone.form-control(type="text", name="phone")
    button.btn.btn-primary Create